# * * * * * touch /tmp/testing.txt

# */2 * * * * /home/miroshnykov/Sites/mysql8_docker/freeMemoryUbuntu.sh >> /tmp/memory.usage

#every 8 hours
0 */8 * * * /home/miroshnykov/Sites/mysql8_docker/freeMemoryUbuntu.sh >> /tmp/memory.usage.txt

# every day at 19 00
0 19 * * * rm -rf /tmp/*

